.dropZone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid red;
    font-weight: 900;
    color: red;
    width: 700px;
    height: 500px;
}

.epubPrinter{
    position: relative;
    flex-grow: 1;
    outline: 5px solid red;
}

.wrapper{
    display: flex;
    gap: 10px;
}