.dropZone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid red;
    font-weight: 900;
    color: red;
    width: 400px;
    height: 200px;
}

.epubPrinter{
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    outline: 5px solid red;
}

.wrapper{
    display: flex;
    gap: 10px;
}

.bookContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    flex-grow: 1;
}

.dropZoneAndCover{
    display: flex;
    flex-direction: column;
}